 <section class="grid-servicios">
          
          <div class="servicio-card" data-tipo="patrimoniales">
            <img src="imagenes/seguro-auto.jpg" alt="Seguro de Auto" class="servicio-img">
            <div class="servicio-overlay">
              <h3>Seguro de Auto</h3>
              <a href="#" class="btn-servicio"><i class="fas fa-chevron-down"></i></a>
            </div>
            <div class="servicio-hover-overlay">
              <div class="hover-content">
                <p>Protegemos tu vehículo ante cualquier imprevisto.</p>
                <a href="#" class="btn-mas-info">MÁS INFORMACIÓN</a>
              </div>
            </div>
          </div>

          
          <div class="servicio-card" data-tipo="personales">
            <img src="imagenes/seguro-vida.jpg" alt="Seguro de Vida" class="servicio-img">
            <div class="servicio-overlay">
              <h3>Seguro de Vida</h3>
              <a href="#" class="btn-servicio"><i class="fas fa-chevron-down"></i></a>
            </div>
            <div class="servicio-hover-overlay">
              <div class="hover-content">
                <p>Asegura el futuro financiero de tus seres queridos.</p>
                <a href="#" class="btn-mas-info">MÁS INFORMACIÓN</a>
              </div>
            </div>
          </div>

          
          <div class="servicio-card" data-tipo="personales">
            <img src="imagenes/seguro-medico.jpg" alt="Seguro Médico" class="servicio-img">
            <div class="servicio-overlay">
              <h3>Seguro Médico</h3>
              <a href="#" class="btn-servicio"><i class="fas fa-chevron-down"></i></a>
            </div>
            <div class="servicio-hover-overlay">
              <div class="hover-content">
                <p>Te protegemos a ti y a los tuyos con la mejor atención sanitaria.</p>
                <a href="#" class="btn-mas-info">MÁS INFORMACIÓN</a>
              </div>
            </div>
          </div>
